<ion-header>
    <ion-navbar>
        <ion-title>Detalles salario</ion-title>
        <ion-buttons end>
            <button ion-button icon-end (click)="closeModal('x')">
                     <ion-icon ios="ios-close" md="md-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-segment color="primary">
        <ion-segment-button *ngIf="!item.nuevo" value="friends" (ionSelect)="editar()">
            Editar
        </ion-segment-button>
        <ion-segment-button value="guardar" (ionSelect)="guardar()">
            Guardar
        </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content >  

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Guardando...</b>
    </div>

    <form>

        <ion-grid >
            <ion-row align-items-center>
                <ion-col col-3>                    
                    <b>Semana</b>
                </ion-col> 
                <ion-col col-2>                    
                    <ion-input type="number" placeholder="0"  [(ngModel)]="item.name" [readonly]="!item.editable" name='name' ></ion-input>
                </ion-col> 
            </ion-row>

            <ion-row align-items-center>
                <ion-col col-3>
                    <b>Ciudad</b>
                </ion-col> 
                <ion-col col-8>
                     <ion-select [(ngModel)]="ciudad" name="ciudad">
                        <ion-option *ngFor="let city of ciudadList" [value] = "city.name[0]" >{{city.name[1]}}</ion-option>
                    </ion-select>
                    <!--<ion-input type="text"  [(ngModel)]="item.city_id[1]" [readonly]="!item.editable" name='city_id' ></ion-input>-->
                </ion-col> 

            </ion-row>

            <ion-row align-items-center>
                <ion-col col-3>
                    <b>Salario</b>
                </ion-col> 
                <ion-col col-2>
                    <ion-input type="number" placeholder="0"  [(ngModel)]="item.sala_guia" [readonly]="!item.editable" name='sala_guia' ></ion-input>
                </ion-col> 

                <ion-col col-3>
                    <b>Total Metro</b>
                </ion-col> 
                <ion-col col-2>
                    <ion-input type="number" placeholder="0"   [(ngModel)]="item.total_metro" [readonly]="!item.editable" name='total_metro' ></ion-input>
                </ion-col> 
            </ion-row>


        </ion-grid>
    </form>




</ion-content>
