
<ion-header>

    <ion-navbar color="primary">
        <ion-title>Tours</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="nuevo()">
                    <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>
    
    <ion-grid *ngFor="let item of tours; let i = index" (click)="ejecute(item)">      

        <ion-row align-items-start>  
            <ion-col col-3>
                <b>Código:</b>
            </ion-col>
            <ion-col col-8>
                {{item.codigo}}
            </ion-col>       
        </ion-row>
        <ion-row align-items-start>  
            <ion-col col-3>
                <b>Nombre:</b>
            </ion-col>
            <ion-col col-8>
                {{item.name}}
            </ion-col>       
        </ion-row>
        <ion-row align-items-start>  
            <ion-col col-3>
                <b>Ciudad:</b>
            </ion-col>
            <ion-col col-8>
                {{item.company_id[1]}}
            </ion-col>       
        </ion-row>
        <ion-row align-items-start>  
            <ion-col col-3>
                <b>Hora Inicio</b>
            </ion-col>
            <ion-col col-3>
                {{item.init_hours}}
            </ion-col>       
             <ion-col col-3>
                <b>Hora Fin</b>
            </ion-col>
            <ion-col col-3>
                {{item.end_hours}}
            </ion-col> 
        </ion-row>
         <ion-row align-items-start class="borde">  
            <ion-col col-3>
                <b>Es Extra?</b>
            </ion-col>
            <ion-col col-1>
                {{!!item.is_extra ? 'Si' : 'No'}}
            </ion-col>       
             <ion-col col-3>
                <b>Es Gratis?</b>
            </ion-col>
            <ion-col col-1>
                {{!!item.is_free ? 'Si' : 'No'}}
            </ion-col>    
             <ion-col col-3>
                <b>Es Privada?</b>
            </ion-col>
            <ion-col col-1>
                {{!!item.is_private ? 'Si' : 'No'}}                
            </ion-col>    
        </ion-row>
    </ion-grid>
    
</ion-content>
