<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Clientes</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                    <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
            </button>
            <button ion-button icon-only (click)="buscar()">
                    <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="nuevo()">
                    <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content >

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <div  *ngFor="let item of items; let i = index">

        <ion-grid *ngIf="item.visible" (click)="ejecute(item)">      

            <ion-row >     
                <ion-col col-3>
                    <b>Nombre</b>                
                </ion-col>                   
                <ion-col col-8 align-self-end>
                    {{item.name}}
                </ion-col>   
            </ion-row>

            <ion-row > 
                <ion-col col-3>
                    <b>Email</b>                
                </ion-col>     
                <ion-col col-8 align-self-end>
                    {{item.email[1]}}
                </ion-col> 
            </ion-row>

            <ion-row>     
                <ion-col col-3>
                    <b>Teléfono</b>                
                </ion-col>       
                <ion-col col-8 align-self-end>
                    {{!!item.telefono?item.telefono:''}}
                </ion-col>             
            </ion-row>

            <ion-row  class="borde">     
                <ion-col col-3>
                    <b>Hotel</b>                
                </ion-col>       
                <ion-col col-8 align-self-end>
                    {{!!item.nombre_hotel?item.nombre_hotel:''}}
                </ion-col>             
            </ion-row>

        </ion-grid>
    </div>


</ion-content>
