<!--
  Generated template for the ClienteDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Detalles del Cliente</ion-title>
    </ion-navbar>
    <ion-segment [(ngModel)]="icons">
        <ion-segment-button value="camera" icon-start (click)="editar()">
                            <ion-icon ios="ios-create" md="md-create"></ion-icon>
            Editar
        </ion-segment-button>
        <ion-segment-button value="bookmark" icon-start (click)="guardar()">
                            <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            Guardar
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <ion-grid>      

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Nombre</b>                
            </ion-col>                   
            <ion-col col-8 >
                <ion-input name="name"  [readonly]="!editable" type="text" [(ngModel)]="item.name"></ion-input>

            </ion-col>   
        </ion-row>

        <ion-row align-items-center> 
            <ion-col col-3>
                <b>Email</b>                
            </ion-col>     
            <ion-col col-8 >
                <ion-input name="email"  [readonly]="!editable" type="email" [(ngModel)]="item.email[1]"></ion-input>                
            </ion-col> 
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Teléfono</b>                
            </ion-col>       
            <ion-col col-8 >
                <ion-input name="telefono"  [readonly]="!editable" type="text" [(ngModel)]="item.telefono"></ion-input>                
            </ion-col>             
        </ion-row>

        <ion-row  align-items-center>     
            <ion-col col-3>
                <b>Hotel</b>                
            </ion-col>       
            <ion-col col-8 >
                <ion-textarea rows="3" [readonly]="!editable" [(ngModel)]="item.nombre_hotel"></ion-textarea>             
            </ion-col>             
        </ion-row>


        <ion-row align-items-center>  
            <ion-col col-3>
                <b>Es Padrino?</b>
            </ion-col>
            <ion-col col-1>
                <ion-checkbox  [disabled] = "!editable" [(ngModel)]="item.is_padrino"></ion-checkbox>
            </ion-col>       
            <ion-col col-3>
                <b>Es Tarjeta?</b>
            </ion-col>
            <ion-col col-1>
                <ion-checkbox  [disabled] = "!editable" [(ngModel)]="item.es_tarjeta"></ion-checkbox>
            </ion-col>    
            <ion-col col-3>
                <b>Es Paypal?</b>
            </ion-col>
            <ion-col col-1>
                <ion-checkbox  [disabled] = "!editable" [(ngModel)]="item.es_pay_pal"></ion-checkbox>        
            </ion-col>    
        </ion-row>
        <ion-row align-items-center>  
            <ion-col col-8>
                <b>Recibir Correo de Gracias?</b>
            </ion-col>
            <ion-col col-1>
                <ion-checkbox  [disabled] = "!editable" [(ngModel)]="item.active_email"></ion-checkbox>
            </ion-col>  
        </ion-row>


        <ion-row align-items-center>  
            <ion-col col-4>
                <b>Observación</b>
            </ion-col>             
        </ion-row>
        <ion-row align-items-center class="borde">  
            <ion-col col-12>
                <ion-textarea rows="3"  [readonly]="!editable" [(ngModel)]="item.observaciones"></ion-textarea>
            </ion-col>             
        </ion-row>

        <div *ngFor="let detail of item.middle;">
            <ion-row align-items-center *ngIf="!editable">     
                 <ion-col col-3>
                    <b>Tour</b>                
                </ion-col>                   
                <ion-col col-8 >
                    {{detail.tour_id[1]}}

                </ion-col>   
            </ion-row>
            <ion-row align-items-center *ngIf="!editable">     
                     <ion-col col-3>
                    <b>Fecha</b>                
                </ion-col>                   
                <ion-col col-8 >
                    {{detail.fecha}}

                </ion-col>   
            </ion-row>
            <ion-row align-items-center *ngIf="!editable">     
                     <ion-col col-3>
                    <b>Asistio</b>                
                </ion-col>                   
                <ion-col col-8 >                
                    {{!!detail.asistencia?'Si':'No'}}
                </ion-col>   
            </ion-row>


            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-4>
                    <b>PAX</b>
                </ion-col>             
            </ion-row>
            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-2>
                    <b>Pago</b>
                </ion-col>             
                <ion-col col-3>
                    <b>Terceros</b>
                </ion-col>   
                <ion-col col-3>
                    <b>Todo Inc</b>
                </ion-col>   
                <ion-col col-2>
                    <b>Total</b>
                </ion-col>   
            </ion-row>

            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-2>
                    {{detail.personas_pago}}

                </ion-col>             
                <ion-col col-3>
                    {{detail.personas_terceros}}

                </ion-col>   
                <ion-col col-3>
                    {{detail.personas_all_in}}

                </ion-col>   
                <ion-col col-2>
                   {{detail.total_personas}}

                </ion-col> 
            </ion-row>

            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-2>
                    <b>EUR</b>
                </ion-col>             
                <ion-col col-2>
                    <b>USD</b>
                </ion-col>   
                <ion-col col-2>
                    <b>RUB</b>
                </ion-col>  
                <ion-col col-2>
                    <b>PP</b>
                </ion-col> 
                <ion-col col-2>
                    <b>TAR</b>
                </ion-col> 
            </ion-row>

            <ion-row align-items-center *ngIf="!editable">         
                     <ion-col col-2>
                    {{detail.abono_euros}}
                </ion-col>   
                <ion-col col-2>
                    {{detail.abono_dolar}}
                </ion-col>   
                <ion-col col-2>
                    {{detail.abonor_rublo}}
                </ion-col> 
                <ion-col col-2>
                    {{detail.pay_pal}}
                </ion-col> 
                <ion-col col-2>
                    {{detail.tarjeta}}
                </ion-col> 
            </ion-row>


            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-4>
                    <b>EXP</b>
                </ion-col>             
            </ion-row>
            <ion-row align-items-center *ngIf="!editable">  
                     <ion-col col-2>
                    <b>EUR</b>
                </ion-col>             
                <ion-col col-2>
                    <b>USD</b>
                </ion-col>   
                <ion-col col-2>
                    <b>RUB</b>
                </ion-col>  
            </ion-row>

            <ion-row align-items-center *ngIf="!editable" class="borde">         
                     <ion-col col-2>
                    {{detail.euros_exportado}}
                </ion-col>   
                <ion-col col-2>
                    {{detail.dolar_exportado}}
                </ion-col>   
                <ion-col col-2>
                    {{detail.rublo_exportado}}
                </ion-col> 
            </ion-row>

        </div>



    </ion-grid>

</ion-content>
