<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Nomina</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                    <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
            </button>
            <button ion-button icon-only  (click)="buscar()">
                    <ion-icon ios="ios-search" md="md-search"></ion-icon>                
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>
    <div  *ngFor="let item of items; let i = index">

        <ion-grid *ngIf="item.visible" (click)="ejecute(item)">      

            <ion-row>     
                <ion-col col-2>
                    <b>Guía</b>                
                </ion-col>                   
                <ion-col col-8>
                    {{item.guia_user_id}}
                </ion-col>   
            </ion-row>

            <ion-row>     
                <ion-col col-3>
                    <b>Semana</b>                
                </ion-col>     
                <ion-col col-8>
                    {{item.semana}}
                </ion-col> 
            </ion-row>

            <ion-row >     
                <ion-col col-3>
                    <b>PAX pago</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.pax_pago}}
                </ion-col>             
                <ion-col col-2>
                    <b>Pagado</b>                
                </ion-col>       
                <ion-col col-3>
                    {{!!item.state ? item.state : 'No'}}                
                </ion-col>  
            </ion-row>

            <ion-row >     
                <ion-col col-2>
                    <b>EUR</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.total_eur}}
                </ion-col>             
                <ion-col col-2>
                    <b>USD</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.total_usd}}
                </ion-col>  
                <ion-col col-2>
                    <b>RUB</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.total_usd}}
                </ion-col>  
            </ion-row>

            <ion-row  class="borde">     
                <ion-col col-3>
                    <b>Reserva</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.total_res}}
                </ion-col>             
                <ion-col col-2>
                    <b>Metro</b>                
                </ion-col>       
                <ion-col col-2>
                    {{item.total_metro}}
                </ion-col>  
            </ion-row>

        </ion-grid>
    </div>

</ion-content>
