<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Gastos Extras</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                    <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
            </button>
             <button ion-button icon-only (click)="buscar()">
                    <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="nuevo()">
                    <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <div  *ngFor="let item of items; let i = index">

        <ion-grid *ngIf="item.visible" (click)="ejecute(item)">      

            <ion-row>     
                <ion-col col-3>
                    <b>Día</b>                
                </ion-col>                   
                <ion-col col-8>
                    {{item.name}}
                </ion-col>   
            </ion-row>

            <ion-row>     
                <ion-col col-2>
                    <b>Ciudad</b>                
                </ion-col>                   
                <ion-col col-8>
                    {{item.city_id[1]}}
                </ion-col>   
            </ion-row>

            <ion-row>     
                <ion-col col-3 >
                    <b>USD</b>                
                </ion-col>                   
                <ion-col col-3>
                    <b>EUR</b>                
                </ion-col>   
                <ion-col col-3 >
                    <b>RUB</b>                
                </ion-col>  
            </ion-row>
            <ion-row >     
                <ion-col col-3 >
                    {{item.total_usd}}
                </ion-col>                   
                <ion-col col-3>
                    {{item.total_eur}}
                </ion-col>   
                <ion-col col-3 >
                    {{item.total_rub}}
                </ion-col>  
            </ion-row>

            <ion-row>     
                <ion-col col-3 >
                    <b>Paypal</b>                
                </ion-col>                   
                <ion-col col-3>
                    <b>Tarjeta</b>                
                </ion-col> 
            </ion-row>
            <ion-row>     
                <ion-col col-3 >
                    {{item.total_pp}}            
                </ion-col>                   
                <ion-col col-3>
                    {{item.total_tarjeta}}            
                </ion-col> 
            </ion-row>


            <ion-row class="borde">     
                <ion-col col-3>
                    <b>Estado</b>                
                </ion-col>                   
                <ion-col col-8>
                    {{item.state}}
                </ion-col>   
            </ion-row>

        </ion-grid>
    </div>

</ion-content>
