<ion-header>
    <ion-navbar>
        <ion-title>Detalles Gastos</ion-title>
    </ion-navbar>
    <ion-segment color="primary">
        <ion-segment-button *ngIf="item.nuevo" value="friends" (ionSelect)="editar()">
            Editar
        </ion-segment-button>
        <ion-segment-button value="guardar" (ionSelect)="guardar()">
            Guardar
        </ion-segment-button>
    </ion-segment>
</ion-header>


<ion-content>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>{{mensaje}}</b>
    </div>

    <ion-grid *ngIf="!cargar">      

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Día</b>                
            </ion-col>                   
            <ion-col col-8>
                <ion-input type="text"  [(ngModel)]="item.name" [readonly]="!item.editable" name='name' ></ion-input>
            </ion-col>   
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Ciudad</b>                
            </ion-col>                   
            <ion-col col-8>
                <ion-input type="text"  [(ngModel)]="item.city_id[1]" [readonly]="!item.editable" name='city_id' ></ion-input>
            </ion-col>   
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3 >
                <b>USD</b>                
            </ion-col>                   
            <ion-col col-3>
                <b>EUR</b>                
            </ion-col>   
            <ion-col col-3 >
                <b>RUB</b>                
            </ion-col>  
        </ion-row>
        <ion-row >     
            <ion-col col-3 >
                <ion-input type="number"  [(ngModel)]="item.total_usd" [readonly]="!item.editable" name='name' ></ion-input>
            </ion-col>                   
            <ion-col col-3>
                <ion-input type="number"  [(ngModel)]="item.total_eur" [readonly]="!item.editable" name='name' ></ion-input>
            </ion-col>   
            <ion-col col-3 >
                <ion-input type="number"  [(ngModel)]="item.total_rub" [readonly]="!item.editable" name='name' ></ion-input>
            </ion-col>  
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3 >
                <b>Paypal</b>                
            </ion-col>                   
            <ion-col col-3>
                <b>Tarjeta</b>                
            </ion-col> 
        </ion-row>
        <ion-row align-items-center>     
            <ion-col col-3 >
                <ion-input type="number"  [(ngModel)]="item.total_pp" [readonly]="!item.editable" name='name' ></ion-input>            
            </ion-col>                   
            <ion-col col-3>
                <ion-input type="number"  [(ngModel)]="item.total_tarjeta" [readonly]="!item.editable" name='name' ></ion-input>            
            </ion-col> 
        </ion-row>


        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Estado</b>                
            </ion-col>                   
            <ion-col col-8>
                <ion-input type="text"  [(ngModel)]="item.state" [readonly]="!item.editable" name='name' ></ion-input>
            </ion-col>   
        </ion-row>                

    </ion-grid>

    <ion-grid  *ngFor="let con of item.conceptos; let i = index">
        <ion-row align-items-center >     
            <ion-col col-3>
                <b>Producto</b>                
            </ion-col>                   
            <ion-col col-8>
                <ion-input type="text"  [(ngModel)]="con.concepto" [readonly]="!item.editable" name='concepto' ></ion-input>
            </ion-col>   
        </ion-row>
        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Moneda</b>                
            </ion-col>                   
            <ion-col col-8>
                <ion-input type="text"  [(ngModel)]="con.moneda" [readonly]="!item.editable" name='moneda' ></ion-input>
            </ion-col>   
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Precio</b>                
            </ion-col>                   
            <ion-col col-3>
                <b>Cantidad</b>  
            </ion-col>   
            <ion-col col-3>
                <b>Sub Total</b>  
            </ion-col>   
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3>
                <ion-input type="number"  [(ngModel)]="con.price_unit" [readonly]="!item.editable" name='price_unit' ></ion-input>             
            </ion-col>                   
            <ion-col col-3>
                <ion-input type="number"  [(ngModel)]="con.unidades" [readonly]="!item.editable" name='unidades' ></ion-input>             
            </ion-col>   
            <ion-col col-3>
                <ion-input type="number"  [(ngModel)]="con.sub_total" [readonly]="!item.sub_total" name='moneda' ></ion-input>             
            </ion-col>   
        </ion-row>
    </ion-grid>

    <button *ngIf="item.editable" ion-button icon-start type="button" (click)="addConcepto()">
        <ion-icon name="add"></ion-icon>
        Agregar concepto
    </button>

</ion-content>
