<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Solicitudes</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="refresh()">
                    <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <div>{{mensaje}}</div>

    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>Cargando...</b>
    </div>

    <ion-grid *ngFor="let item of items; let i = index" (click)="ejecute(item)">      

        <ion-row  *ngIf="item.mostrar">     
            <ion-col col-4>
                <button color="light" ion-button icon-start type="button">
                    <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
                    Aceptar
                </button>               
            </ion-col>                   
            <ion-col col-4>
                <button color="light" ion-button icon-start type="button">
                    <ion-icon ios="ios-close" md="md-close"></ion-icon>
                    Rechazar
                </button>
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Tour</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.tour_id[1]}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Cliente</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.name[1]}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Fecha</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.create_date}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Email</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.email[1]}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-3>
                <b>Teléfono</b>                
            </ion-col>                   
            <ion-col col-8>
                {{!!item.telefono?item.telefono:''}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Hotel</b>                
            </ion-col>                   
            <ion-col col-8>
                {{!!item.nombre_hotel?item.telefono:''}}
            </ion-col>   
        </ion-row>

        <ion-row>     
            <ion-col col-2>
                <b>Estado</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.state}}
            </ion-col>   
        </ion-row>


        <ion-row>     
            <ion-col col-4>
                <b>Fecha y Hora</b>                
            </ion-col>                   
            <ion-col col-8>
                {{item.date_begin}}
            </ion-col>   
        </ion-row>


    </ion-grid>

</ion-content>
