<ion-header>

  <ion-navbar>
    <ion-title>Detalles de Nomina</ion-title>
  </ion-navbar>
    <!-- Segment buttons with icons -->
    <ion-segment [(ngModel)]="icons">
        <ion-segment-button value="camera" icon-start (click)="editar()">
            <ion-icon ios="ios-create" md="md-create"></ion-icon>
            Editar
        </ion-segment-button>
        <ion-segment-button value="bookmark" icon-start (ionSelect)="guardar()">
            <ion-icon ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
            Guardar
        </ion-segment-button>
    </ion-segment>

</ion-header>


<ion-content>

    
    <div *ngIf="cargar" style="text-align: center">    
        <ion-spinner name="circles"></ion-spinner><br>
        <b>{{texto}}</b>
    </div>
    
    <ion-grid *ngIf="!cargar">      

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Día</b>                
            </ion-col>                   
            <ion-col col-8 >
                <ion-input name="name"  [readonly]="!editable" type="text" [(ngModel)]="item.name"></ion-input>
                
            </ion-col>   
        </ion-row>

        <ion-row align-items-center> 
            <ion-col col-3>
                <b>Guía</b>                
            </ion-col>     
            <ion-col col-8 >
                <ion-input name="guia_user_id"  [readonly]="!editable" type="text" [(ngModel)]="item.guia_user_id"></ion-input>                
            </ion-col> 
        </ion-row>

        <ion-row align-items-center>     
            <ion-col col-3>
                <b>Tour</b>                
            </ion-col>       
            <ion-col col-8 >
                <ion-input name="tours_id"  [readonly]="!editable" type="text" [(ngModel)]="item.tours_id"></ion-input>                
            </ion-col>             
        </ion-row>    
        
        
        <ion-row align-items-center>  
            <ion-col col-3>
                <b>Semana</b>
            </ion-col>
            <ion-col col-2>
                <ion-input name="semana"  [readonly]="!editable" type="number" [(ngModel)]="item.semana"></ion-input>
            </ion-col>       
            <ion-col col-3>
                <b>PAX pago</b>
            </ion-col>
            <ion-col col-2>
                <ion-input name="pax_pago"  [readonly]="!editable" type="number" [(ngModel)]="item.pax_pago"></ion-input>
            </ion-col>    
            <ion-col col-3>
                <b>Pagado</b>
            </ion-col>
            <ion-col col-3>
                <ion-input name="state"  [readonly]="!editable" type="text" [(ngModel)]="item.state"></ion-input>                     
            </ion-col>    
        </ion-row>
        
        <ion-row align-items-center>  
            <ion-col col-2>
                <b>EUR</b>
            </ion-col>      
            <ion-col col-2>
                <b>USD</b>
            </ion-col>    
            <ion-col col-2>
                <b>RUB</b>
            </ion-col>   
        </ion-row>
        
        <ion-row align-items-center>  
            <ion-col col-2>
                <ion-input name="total_eur"  [readonly]="!editable" type="number" [(ngModel)]="item.total_eur"></ion-input>
            </ion-col>      
            <ion-col col-2>
                <ion-input name="total_usd"  [readonly]="!editable" type="number" [(ngModel)]="item.total_usd"></ion-input>
            </ion-col>    
            <ion-col col-2>
                <ion-input name="total_rub"  [readonly]="!editable" type="number" [(ngModel)]="item.total_rub"></ion-input>
            </ion-col>   
        </ion-row>
        
        <ion-row align-items-center>  
            <ion-col col-3>
                <b>Reserva</b>
            </ion-col>      
            <ion-col col-2>
                <b>Metro</b>
            </ion-col> 
        </ion-row>
        
       <ion-row align-items-center>  
            <ion-col col-3>
                <ion-input name="total_res"  [readonly]="!editable" type="number" [(ngModel)]="item.total_res"></ion-input>
            </ion-col>      
            <ion-col col-2>
                <ion-input name="total_metro"  [readonly]="!editable" type="number" [(ngModel)]="item.total_metro"></ion-input>
            </ion-col>  
        </ion-row>
        
        <ion-row  align-items-center>     
            <ion-col col-3>
                <b>Concepto</b>                
            </ion-col>       
            <ion-col col-8 >
                <ion-textarea rows="3" [readonly]="!editable" [(ngModel)]="item.concepto"></ion-textarea>             
            </ion-col>             
        </ion-row>
        

    </ion-grid>
    
</ion-content>
